{% extends 'base.html' %}

{% block title %}Submit Review - GameVault{% endblock %}

{% block content %}
    <h1>Submit a New Review</h1>

    <div class="time-hud">
        LOCAL SYSTEM TIME: <span id="local-clock">{% now "H:i" %}</span>
    </div>

    <div class="stats-box">
        <form method="POST">
            {% csrf_token %}

            <div class="form-container">
                {{ form.as_p }}
            </div>

            <button type="submit" class="submit-btn" style="margin-top: 20px;">
                POST REVIEW
            </button>
        </form>
    </div>

    <script>
        function setLocalTime() {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            document.getElementById('local-clock').textContent = `${hours}:${minutes}`;
        }
        setInterval(setLocalTime, 15000); // Not to waste resource to update it every second
        setLocalTime();
    </script>
{% endblock %}