{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'game_catalog' %}">Browse Games</a>
        <a href="{% url 'review_list' %}">Reviews</a>
        <a href="{% url 'add_review' %}">Add Review</a>
        <a href="{% url 'about' %}">About</a>
    </nav>

    <h1>About This Project</h1>
        <p>This is a Django-based game review</p>
        <p>It features a PostgreSQL database and custom model validation.</p>
</body>
</html>